[package]
name = "bootloader"
version = "0.1.0"
edition = "2021"

[dependencies]
cortex-m = "0.7.7"
cortex-m-rt = "0.7.3"
panic-halt = "0.2.0"
stm32f4 = { version = "0.16.0", features = ["stm32f411", "rt"] }

[[bin]]
name = "bootloader"
path = "src/main.rs"
